<h2>Your account info</h2>
<table class="pure-table pure-table-horizontal">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{user.id}}</td>
        </tr>
        <tr>
            <th>Username</th>
            <td>{{user.username}}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{user.email}}</td>
        </tr>
        <tr>
            <th>Role</th>
            <td>{{user.role}}</td>
        </tr>
        <tr>
            <th>Last time logged in</th>
            <td>{{user.lastLoggedIn}}</td>
        </tr>
        <tr>
            <th>Created</th>
            <td>{{user.created}}</td>
        </tr>

        <!-- todo: books added-->


    </tbody>
</table>