<div [ngSwitch]="inp?.inputType" class="pure-control-group">
    <template ngSwitchWhen="TEXT">
        <label [attr.for]="inp?.name">{{inp?.label}}</label>
        <input [ngFormControl]="inpControl" [attr.id]="inp?.name" [attr.placeholder]="inp?.placeholder" type="text" [(ngModel)]="inp.defaultValue">
    </template>
    <template ngSwitchWhen="PASSWORD">
        <label [attr.for]="inp?.name">{{inp?.label}}</label>
        <input [ngFormControl]="inpControl" [attr.id]="inp?.name" type="password" [(ngModel)]="inp.defaultValue">
    </template>
    <template ngSwitchWhen="TEXTFIELD">
        <label [attr.for]="inp?.name">{{inp?.label}}</label>
        <textarea [ngFormControl]="inpControl" [attr.id]="inp?.name" [attr.placeholder]="inp?.placeholder" [(ngModel)]="inp.defaultValue"></textarea>
    </template>
    <template ngSwitchWhen="NUMBER">
        <label [attr.for]="inp?.name">{{inp?.label}}</label>
        <input [ngFormControl]="inpControl" [attr.id]="inp?.name" [attr.placeholder]="inp?.placeholder" type="number" [(ngModel)]="inp.defaultValue">
    </template>
    <template ngSwitchWhen="DATE">
        <label [attr.for]="inp?.name">{{inp?.label}}</label>
        <input [ngFormControl]="inpControl" [attr.id]="inp?.name" [attr.placeholder]="inp?.placeholder" type="date" [(ngModel)]="inp.defaultValue">
    </template>
    <template ngSwitchWhen="CHECKBOX_GROUP">
        <label>{{inp?.label}}</label>
        <template ngFor #opt [ngForOf]="arrayOfKeys">
            <label [attr.for]="inp.options[opt]?.name" class="pure-checkbox">
                <input type="checkbox" [attr.id]="inp.options[opt]?.name" [(ngModel)]="inp.defaultValue[inp.options[opt].name]">
                {{inp.options[opt]?.label}}
            </label>
        </template>
    </template>
    <template ngSwitchWhen="SELECT_MANY">
        <label [attr.for]="inp?.name">{{inp?.label}}</label>
        <select multiple [attr.id]="inp?.name" (change)="onChange($event,inp)">
            <option *ngFor="#o of arrayOfKeys" [value]="inp.options[o]?.name" [selected]="inp?.defaultValue[inp.options[o]?.name]">{{inp.options[o]?.label}}</option>
        </select>
    </template>
    <template ngSwitchWhen="SELECT_ONE">
        <label [attr.for]="inp?.name">{{inp?.label}}</label>
        <select [attr.id]="inp?.name" [(ngModel)]="inp.defaultValue">
            <option *ngFor="#o of arrayOfKeys" [value]="inp.options[o]?.name" >{{inp.options[o]?.label}}</option>
        </select>
    </template>
    <template ngSwitchWhen="RADIOBUTTON_GROUP">
        <label>{{inp?.label}}</label>
        <template ngFor #opt [ngForOf]="arrayOfKeys">
            <label [attr.for]="inp.options[opt]?.name" class="pure-radio">
                <input type="radio" [attr.name]="inp.name" [attr.id]="inp.options[opt]?.name" [value]="inp.options[opt]?.name"
                       [checked]="inp.defaultValue === inp.options[opt].name" (click)="inp.defaultValue = inp.options[opt].name">
                {{inp.options[opt]?.label}}
            </label>
        </template>
    </template>
    <template ngSwitchDefault>Unsupported input type: {{inp?.inputType}}<br></template>
    <div *ngIf="inpControl.dirty || form.touched">
        <span [hidden]="inpControl.valid" class="ui error message">{{inp?.label}} invalid:</span>
        <span [hidden]="!inpControl.hasError('regExp')">{{inp?.validators?.regExp?.message}}</span>
        <span [hidden]="!inpControl.hasError('required')">{{inp?.validators?.required?.message}}</span>
        <span [hidden]="!inpControl.hasError('dateSince')">{{inp?.validators?.dateSince?.message}}</span>
        <span [hidden]="!inpControl.hasError('dateUntil')">{{inp?.validators?.dateUntil?.message}}</span>
        <span [hidden]="!inpControl.hasError('numberMax')">{{inp?.validators?.numberMax?.message}}</span>
        <span [hidden]="!inpControl.hasError('numberMin')">{{inp?.validators?.numberMin?.message}}</span>
        <span [hidden]="!inpControl.hasError('strLenMin')">{{inp?.validators?.strLenMin?.message}}</span>
        <span [hidden]="!inpControl.hasError('strLenMax')">{{inp?.validators?.strLenMax?.message}}</span>
        <span [hidden]="!inpControl.hasError('email')">{{inp?.validators?.email?.message}}</span>
    </div>
</div>